# **T Test**

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 3 types :
1. one sampled t-test 
2. two-sampled t-test
3. paired t-test.

In [1]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,25,46,39,28,68,27,65,18,43,23,21,20,19,70]

In [2]:
len(ages)

36

# one sample t-test

In [3]:
import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

31.97222222222222

take sample set

In [8]:
sample_size=15
age_sample=np.random.choice(ages,sample_size)

In [9]:
age_sample

array([35, 32, 28, 35, 20, 20, 21, 18, 32, 35, 28, 28, 35, 50, 50])

In [10]:
from scipy.stats import ttest_1samp

In [11]:
ttest,p_value=ttest_1samp(age_sample,31)

In [12]:
print(p_value)

0.9584287274805048

In [16]:
if p_value < 0.05:  
    print("rejecting null hypothesis")
else:
    print("accepting null hypothesis")

accepting null hypothesis

#two sample t-test

In [18]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [19]:
np.random.seed(12)
ClassB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
ClassB_ages.mean()

50.63333333333333

In [22]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [26]:
_,p_value=stats.ttest_ind(a=classA_ages,b=ClassB_ages,equal_var=False)

In [23]:
if p_value < 0.05:   
    print(" rejecting null hypothesis")
else:
    print("accepting null hypothesis")

 rejecting null hypothesis

#**Paired t-test**

different samples from the same group

In [24]:
weight1=[25,30,23,27,41,32,28,35,28,34,26,29,30,26,28,32,31,30,43,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=20)

In [28]:
print(weight1)
print(weight2)

[25, 30, 23, 27, 41, 32, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 43, 45]
[30.57926457 34.91022437 24.00444617 22.54295091 32.86201983 35.57873174
 20.3299827  27.3771395  34.36420881 40.05941216 24.93827982 26.519014
 25.42851213 26.50667769 24.32984284 23.1845637  25.93234756 29.99601605
 33.80095696 38.85237039]

In [27]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [29]:
if p_value < 0.05:
    print(" rejecting null hypothesis")
else:
    print("accepting null hypothesis")

accepting null hypothesis